/* 
Last modified: "2021/10/29 17:55:19"
 */
:root {
    --padding-size: 1rem;

}

html {
    font-size: 16px;
}

body {
    width: 80vw;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

main>* {
    flex-grow: 1;
    height: 100%;
}

main ul#toolsList {
    overflow: scroll;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    letter-spacing: 0.1em;
    padding: var(--padding-size);
    text-align: right;
    transition: all 0.2s linear;
    position: relative;
    height: fit-content;
    max-height: calc(100% - var(--padding-size));
    margin: auto 0;

    background-color: rgba(0, 0, 0, 0.02);

}




main ul#toolsList>li {
    cursor: pointer;
    transition: all 0.2s linear;
    line-height: 2em;
}

main ul#toolsList:hover>li {
    opacity: 0.5;
}

main ul#toolsList>li:hover {
    opacity: 1;
}

main ul#toolsList dl {
    padding: 1em;
    font-weight: 300;
}

main ul#toolsList dt {
    font-size: 1.5rem;
}

main ul#toolsList dd {
    font-size: 1rem;
}


main ul#toolsList #header {
    cursor: default;
}

main ul#toolsList #header dd ul {
    display: block;
}

main ul#toolsList #header dd ul li {
    display: inline-block;
    padding: 0.25em 0 0.25em 1em;
    cursor: pointer;
}

main ul#toolsList #header dd ul:hover li {
    opacity: 0.5;
}

main ul#toolsList #header dd ul li:hover {
    opacity: 1;
}

main ul#toolsList li#footer {
    cursor: default;
}

main ul#toolsList li#footer>dl>dt,
main ul#toolsList li#footer>dl>dd {
    font-size: 0.5rem;
}

main ul#toolsList li#footer a {
    position: relative;
    display: inline-block;
}

main ul#toolsList li#footer a::before,
main ul#toolsList li#footer a::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0.3em;
    transition: transform 0.5s ease;
}

main ul#toolsList li#footer a::before {
    background-color: #999;
    transform: scale(0, 100%);
    transform-origin: left;
}

main ul#toolsList li#footer a::after {
    background-color: #000;
    transform: scale(100%, 100%);
    transform-origin: right;
}

main ul#toolsList li#footer a:hover:before {
    transform: scale(100%, 100%);
}

main ul#toolsList li#footer a:hover:after {
    transform: scale(0%, 100%);
}





main #detail {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    flex-grow: 100;
    max-width: 60vw;
    overflow-y: scroll;
    height: fit-content;
    max-height: 100%;
    margin: auto;
}


main #detail #bookmarkContainer {
    position: relative;
}

main #detail #bookmarkContainer::after {
    display: block;
    padding-top: 64%;
    content: '';
    padding-bottom: 4em;
}

main #detail #bookmarkContainer>dt {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

main #detail a#bookmarkBtn {
    display: inline-block;
    border: dashed 2px rgba(0, 0, 0, 0.3);
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 0.1em;
    border-radius: 0.25em;
    padding: 0.25em;
    cursor: move;
    background-color: rgba(255, 255, 255, 0.8);
    transition: border 0.2s ease, box-shadow 0.2s ease;

    box-shadow: 0px 4px 12px 0px rgb(0 0 0 / 8%),
        0px 8px 32px 0px rgb(0 0 0 / 4%);
}




main #detail a#bookmarkBtn:hover {
    border: dashed 2px var(--border-color);
    box-shadow: 0px 4px 24px 0px rgb(0 0 0 / 4%),
        0px 12px 48px 0px rgb(0 0 0 / 2%);

}

main #detail a#bookmarkBtn::before {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: -999;
    filter: blur(0.5em);
}


main #detail #bookmarkContainer>dd {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 100%);
    text-align: center;
    letter-spacing: 0.1em;
}

main #detail #bookmarkContainer>dd::after{
    content: "拖拽到书签栏保存，点击查看源码 / Drag and drop to the bookmark bar to save, click to view the source code";
    font-size: 10px;
    display: block;
    opacity: 0.64;
    padding-top: 1em;
    left: 50%;
    transform: translate(-50%, 0);
   width: 100vw;
   max-width: 200%;
    position: absolute;
}


main #detail article {
    padding: 0 2em 2em;
    width: fit-content;
    margin: auto;
}

@media screen and (max-width: 800px) {
    body {
        width: 100%;
    }

    main {
        width: 100%;
        max-width: none;
        flex-direction: column-reverse;
    }

    main ul#toolsList {
        width: 100%;
        white-space: nowrap;
        overflow-x: scroll;
        padding: 0;
        flex-grow: 0;
        text-align: left;
        flex-shrink:0;
        background-color: rgba(0, 0, 0, 0.04);
    }

    main ul#toolsList>li {
        display: inline-block;
    }

    main ul#toolsList #header dd ul li {
        padding: 0.25em 1em 0.25em 0em;
    }

    main #detail {
        max-width: none;
        width: 100%;
        position: relative;
    }

    main div#detail:after {
        content: '';
        height: 3em;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.72));
    }

    main #detail #bookmarkContainer>dt {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        padding: 6em 3em;
    }

    main #detail #bookmarkContainer::after {
        display: none;
    }

    main #detail #bookmarkContainer>dd {
        position: relative;
        left: auto;
        top: auto;
        transform: none;
    }

    main #detail #bookmarkContainer>dd::after{
        content: "请在电脑打开 /  pls open this page on computer";
    }

    main #detail article {
        padding-top: 2em;
        margin-top: 2em;
    }
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.08);
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
}

*:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.32);
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgba(0, 0, 0, 0);
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
}

* {
    scrollbar-color: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

*:hover {
    scrollbar-color: rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}


@supports (bottom: env(safe-area-inset-bottom)){
    body,.fixedBottom{
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
    }
}