p {
	text-align: center;
	line-height: 2em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.Btn {
	text-decoration: none;
	color: #313335;
	border: solid 0.2em #5c5d5e;
	border-style: dashed;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	transition: all 0.5s
}

.cantUse {
	opacity: 0.5;
	font-size: 0.7em;
	cursor: wait;
}

.use {
	cursor: move;
}
